<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/Kendo/css")
    @Styles.Render("~/Content/edit.css")
    @Styles.Render("~/Content/history.css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("C:/Users/mindaugas.pikelis/Desktop/PROJEKTAI/Cards/Cards.UI.Web/Scripts/KendoOld/jquery-2.2.2.min.js")
    @Scripts.Render("C:/Users/mindaugas.pikelis/Desktop/PROJEKTAI/Cards/Cards.UI.Web/Scripts/KendoOld/jszip.min.js")
    @Scripts.Render("C:/Users/mindaugas.pikelis/Desktop/PROJEKTAI/Cards/Cards.UI.Web/Scripts/KendoOld/kendo.all.min.js")
    @Scripts.Render("C:/Users/mindaugas.pikelis/Desktop/PROJEKTAI/Cards/Cards.UI.Web/Scripts/KendoOld/kendo.aspnetmvc.min.js")
    @Scripts.Render("C:/Users/mindaugas.pikelis/Desktop/PROJEKTAI/Cards/Cards.UI.Web/Scripts/moment.js")*@
</head>
<body>
    <div class="container body-content" style="width:100%">
        @RenderBody()
    </div>
    @Styles.Render("~/Content/edit.css")
    @Styles.Render("~/Content/history.css")
    @*@Scripts.Render("C:/Users/mindaugas.pikelis/Desktop/PROJEKTAI/Cards/Cards.UI.Web/Scripts/KendoOld/jquery-2.2.2.min.js")
    @Scripts.Render("C:/Users/mindaugas.pikelis/Desktop/PROJEKTAI/Cards/Cards.UI.Web/Scripts/KendoOld/jszip.min.js")
    @Scripts.Render("C:/Users/mindaugas.pikelis/Desktop/PROJEKTAI/Cards/Cards.UI.Web/Scripts/KendoOld/kendo.all.min.js")
    @Scripts.Render("C:/Users/mindaugas.pikelis/Desktop/PROJEKTAI/Cards/Cards.UI.Web/Scripts/KendoOld/kendo.aspnetmvc.min.js")
    @Scripts.Render("C:/Users/mindaugas.pikelis/Desktop/PROJEKTAI/Cards/Cards.UI.Web/Scripts/moment.js")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
