@using Kendo.Mvc.UI;
@using Cards.UI.Web.Models;
@using System.Linq;
@using System.Data.Entity;


@model IEnumerable<Cards.UI.Web.Models.Card>

@{
    ViewBag.Title = "Index";
}

<div class="createButton">
    @Html.ActionLink("Create New", "Create")
</div>

@(Html.Kendo().Grid<Card>()
                .Name("cardGrid")
                .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Read(read => read.Action("ReadDatabase", "Card"))
                                        .PageSize(20))
                .Events(e => e.DataBound("onDataBound"))
                .Columns(columns =>
                {
                    columns.Bound(c => c.number);
                    columns.Bound(c => c.state);
                    columns.Bound(c => c.expirationDate)
                        .ClientTemplate(@"<div class='expirationDate'>
                                              <div id='date'>
                                                    #: niceDate #
                                              </div>
                                              <div>
                                                    <p><a href='" + Url.Action("Edit", "Card") + "/#=ID#'>" + "Edit" + "</a></p>" +
                                              "</div>" +
                                          "</div>");
                    columns.Template(@<text></text>).ClientTemplate(@Html.ActionLink("Block", "Block", new { id = "#=ID#" }).ToHtmlString());
                    columns.Template(@<text></text>).ClientTemplate(@Html.ActionLink("Unblock", "Unblock", new { id = "#=ID#" }).ToHtmlString());
                    columns.Template(@<text></text>).ClientTemplate(@"<div>
                                                                           <p><a href='" + Url.Action("History", "Card") + "/#=ID#'>" + "History" + "</a></p>" +
                                                                    "</div>");
                    columns.Template(@<text></text>).ClientTemplate(@Html.ActionLink("Delete", "Delete", new { id = "#=ID#" }).ToHtmlString());
                    })                    
                    .HtmlAttributes(new { style = "height: 100%; width: 50%; border: none; text-align: center;" })
                    .Sortable()
                    .Pageable()
                    .Filterable()
)

<script>
    function onDataBound(e) {

        var container = document.querySelector("#cardGrid");
        var row = container.querySelectorAll("tr");

        for (var a = 1; a < row.length; a++) {

            var state = row[a].children[1].textContent;

            switch (state) {
                case "Blocked":
                    for (var i = 2; i < 4; i++)
                    {
                        row[a].children[i].setAttribute("class", "clickDisabled");
                        row[a].children[i].addEventListener('click', function (event) {
                            event.preventDefault();
                        });
                    }
                    break;
                case "Active":
                    row[a].children[4].setAttribute("class", "clickDisabled");
                    row[a].children[4].addEventListener('click', function (event) {
                        event.preventDefault();
                    });
                    break;
                case "Registered":
                    row[a].children[4].setAttribute("class", "clickDisabled");
                    row[a].children[4].addEventListener('click', function (event) {
                        event.preventDefault();
                    });
                    break;
                case "Expired":
                    for (var i = 2; i < 5; i++)
                    {
                        row[a].children[i].setAttribute("class", "clickDisabled");
                        row[a].children[i].addEventListener('click', function (event) {
                            event.preventDefault();
                        });
                    }
                    break;
            }
        }
            //norint ijungti link'a
            /*link.remove("clickDisabled");
            link.href = link.getAttribute('data-href');
            link.removeAttribute('aria-disabled');*/
    }
</script>